<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>gameoverline001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0}, {640,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,36}}</string>
			<key>sourceSize</key>
			<string>{640,36}</string>
		</dict>
		<key>gameoverline002.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,36}, {640,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,36}}</string>
			<key>sourceSize</key>
			<string>{640,36}</string>
		</dict>
		<key>gameoverline003.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,72}, {640,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,36}}</string>
			<key>sourceSize</key>
			<string>{640,36}</string>
		</dict>
		<key>gameoverline004.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,108}, {640,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,36}}</string>
			<key>sourceSize</key>
			<string>{640,36}</string>
		</dict>
	</dict>
    <key>metadata</key>
    <dict>
        <key>format</key>
        <integer>2</integer>
        <key>realTextureFileName</key>
        <string>gameoverline_texture.png</string>
        <key>size</key>
        <string>{640,144}</string>
        <key>smartupdate</key>
        <string>$TexturePacker:SmartUpdate:826eb3de5c6f496f7b015eceb33b1b66$</string>
        <key>textureFileName</key>
        <string>gameoverline_texture.png</string>
    </dict>
</dict>
</plist>
